header{
    width: 800px;
    height: 80px;
    background-color: #914040;
}
adide{
    width: 170px;
    height: 400px;
    background: url(../images/bg_lt.png);
    float: left;
}
article{
    width: 628px;
    height: 400px;
    margin-left: 171px;
}
    footer{
    width: 800px;
    height: 80px;
    background-color: #914040;  
    }
    
}